*{
    padding: 0px;
    margin: 0px;
}
body {
    background:url('bg.jpg');
    background-size: contain;
}

.grid {
    width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2))transparent; 
    background-size: contain;
    padding: 50px;
    border-radius: 50px;
    box-shadow:inset -20px 0px 0px 0px #E91E63, inset 0px -20px 0px #FFC107, inset 20px 0px 0px 0px #795548, inset 0px 20px 0px #673AB7;
}
.inergrid {
    width: 900px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1))transparent;
    padding: 48px;
    border-radius: 50px;
    border: 2px solid #4B0082;
    box-shadow:0px 0px 20px 0px #663399;
    color: transparent;
}

.ansgrid{
    width: 850px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1))transparent;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: 2px solid #006400;
    box-shadow:inset 1px 1px 20px #3F51B5, 1px 1px 20px #ff7f00;;
    font-size: 30px;
    text-align: center;
}

.grid h1 {
    font-family: "Times New Roman", Times, serif;
    background-color: #57636e;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border: 2px solid #b700d6;
    box-shadow: inset 0px 0px 20px 0px #E91E63, inset 0px 0px 20px 20px #673AB7; 
}

.question {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    color: #00FF00;
    margin-left: 20px;
    padding: 20px; 
}

.btn{
    background-color: #778897;
    width: 385px;
    font-size: 22px;
    color: #00ff00;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 15px;
    padding: 10px 10px;
    font-family: "Times New Roman", Times, serif;
}

.btn:hover{
    cursor: pointer;
    background-color: #57636e;
}

.btn:focus{
    outline: 0;
}

#submit{
    background-color:green;
    width: 400px;
    font-size: 40px;
    color: #fff;
    border: 1px solid black;
    border-radius: 100px;
    margin: 50px 20px 10px 300px;
    padding: 10px 10px;
    box-shadow:inset -20px 20px 20px 0px #E91E63, inset 20px -20px 20px #673AB7;
    font-family: "Times New Roman", Times, serif;
}

#submit:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    box-shadow: inset 20px 20px 20px 0px #1ee921, inset -20px -20px 20px #b73a3a;
}

input[type="radio"] {
    background-color: #0017ff;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    top: 4px;
    width: 20px;
    position: relative;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #00ffd9;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    left: 5px;
    top: 5px;
    position: relative;
}
input[type="radio"]:checked:after {
    background-color: #ff0003;
    border-radius: 0px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}
